video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.animate__bounce{
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s smooth; /* don't forget to set a duration! */
}
.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container  h1 {
  color: 	 #fff;
  /* width: 0; */
  top: 0;
  display: inline-block;
  left: 0;
  /* overflow: hidden; */
  font-size: 70px;
  margin-top: -150px;
  margin-bottom: 90px;
  text-align: center;
  padding: 10px;
  line-height: 30px;
  /* -webkit-text-stroke: 1px #FF4500; */
  /* text-shadow: 2px 2px 5px #FFD700; */
  /* border-right: 10px solid orange; */

  /* transform-origin: 100% 100%;
  animation-duration: .3s;
=======
  text-shadow: 0 0 10px #686868;*/
   transform-origin: 50% 100%;
  /* animation-duration: 1.5s; */
  animation-duration: 2s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
.hero-container  h1::before{
  text-shadow: 0 0 10px #686868;
  -webkit-text-stroke: 1px #FFD700;
}

@keyframes fadeAndScale {
    from {

        opacity: 0;
        transform: scale(.9, .9);
    }
    to {

        opacity: 1;
        transform: scale(1, 1);
    }
}
.hero-container > h2 {
  color: 	#ffffff;
  font-size: 70px;
  margin-top: -40px;
  margin-bottom: 90px;
  text-align: center;
  padding: 10px;
  line-height: 30px;
  /* text-shadow: 0 0 10px #686868; */
  /* text-shadow: 2px 2px 5px #FFD700; */
  /* -webkit-text-stroke: 1px #FFD700; */
  transform-origin: 50% 100%;
  animation-duration: 2s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}


.hero-container > p {
  margin-top: -50px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  transform-origin: 50% 100%;
  animation-duration: 2s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 60px;
    margin-top: -150px;
    margin-bottom: 90px;
    text-align: center;
    padding: 10px;
    line-height: 30px;
    text-shadow: 0 0 10px #686868;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 60px;
    margin-top: -100px;
    margin-bottom: 90px;
    text-align: center;
    padding: 10px;
    padding-top: 80px;
    line-height: 30px;
    text-shadow: 0 0 10px #686868;

  }
  .maintitle{
    font-size: 20px;
  }
  .hero-container > h2 {
    color: #fff;
    font-size: 50px;
    margin-top: -40px;
    margin-bottom: 90px;
    text-align: center;
    padding: 10px;
    line-height: 30px;
    text-shadow: 0 0 10px #686868;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
