.achievement{
    background: rgb(255, 255, 255);
    color: black;
    padding-top: 50px;
}

.events{
    margin-top: 5%;
    background: rgb(255, 255, 255);
}

.ah {
    display:flex;
    justify-content:center;
    color:black;
    text-decoration:underline;
    letter-spacing:2px;
    
}



.vertical-timeline-element-content-arrow {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f0d0b0 !important;
}


.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: rgb(0, 0, 0) !important;
}


.vertical-timeline-element-content{
    background-color: #f0d0b0 !important;
}

.vertical-timeline-element-title{
    font-family: quicksand;
}

.vertical-timeline-element-subtitle{
    font-family: quicksand;
}